@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color:white;
}
 h1{
    text-align: center;
    
 }
 .container{
    height:90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:2rem;
     
 }
 textarea{
    height:50%;
    width:50%;
   border:2px solid white;
   border-radius: 1rem;
    margin-bottom:2rem;
   outline: none;
   background-color: black;
   color:white;
   transition: 0.7s all ease-in-out;
   font-size: 1rem;
 }
 textarea:focus{
    border-color:aqua;
    cursor: pointer;
 }
 #btn{
    height:3rem;
    width:5rem;
    border:2px solid;
     border-radius: 5px;
     outline: none;
     font-size: 1rem;
     border-color:aqua;
     background-color: transparent;
     color:white;
     transition: 0.6s all ease-in-out;
 }
#btn:hover{
  cursor: pointer;
  height:3.1rem;
  width:5.1rem;
  font-size: 1rem;

}

/**--------MEDIA QUERIES------**/

@media screen and (max-width:750px){
    textarea{
        width:100%;
    }
}